<h2 class="header">Attractions Near You</h2>
<input type="text" placeholder="Search by Zipcode" />
<button type="submit">Search</button>

{{#each events as |event|}}
<div id="event-card">
    <a href="/singleAttraction/{{id}}">
        <h3 id="event-title">{{title}}</h3>
    </a>
    <h4 id="event-date">{{date}}</h4>
    <p id="event-desc">{{description}}</p>
    <button class="fave" type="button" data-event_id={{id}} data-user_id={{../thisUser}}>Click</button>
</div>
{{/each}}

<script src="/js/attractions.js"></script>
